<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WorldOfLight.NoActionBar"
        tools:targetApi="31">

        <!-- Экран входа как главный -->
        <activity
            android:name=".ui.activities.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.WorldOfLight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Остальные активности аутентификации -->
        <activity
            android:name=".ui.activities.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.WorldOfLight.NoActionBar" />

        <activity
            android:name=".ui.activities.ForgotPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.WorldOfLight.NoActionBar" />

        <activity
            android:name=".ui.activities.VerificationActivity"
            android:exported="false"
            android:theme="@style/Theme.WorldOfLight.NoActionBar" />

        <!-- Главная активность -->
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.WorldOfLight.NoActionBar" />

        <!-- Активность корзины -->
        <activity
            android:name=".ui.activities.CartActivity"
            android:exported="false"
            android:theme="@style/Theme.WorldOfLight.NoActionBar"
            android:parentActivityName=".ui.activities.MainActivity" />

        <!-- Активность деталей товара -->
        <activity
            android:name=".ui.activities.ProductDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.WorldOfLight.NoActionBar"
            android:parentActivityName=".ui.activities.MainActivity" />

        <!-- ДОБАВИТЬ ЭТУ АКТИВНОСТЬ -->
        <activity
            android:name=".ui.activities.CategoryProductsActivity"
            android:exported="false"
            android:theme="@style/Theme.WorldOfLight.NoActionBar"
            android:parentActivityName=".ui.activities.MainActivity" />
        <activity android:name=".ui.activities.PopularActivity"
            android:exported="false"
            android:theme="@style/Theme.WorldOfLight.NoActionBar"
            android:parentActivityName=".ui.activities.MainActivity" />
        <activity
            android:name=".ui.activities.PasswordResetVerificationActivity"
            android:exported="false"
            android:theme="@style/Theme.WorldOfLight.NoActionBar" />

        <activity
            android:name=".ui.activities.NewPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.WorldOfLight.NoActionBar" />
        <activity
            android:name=".ui.activities.EditProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.WorldOfLight.NoActionBar"
            android:parentActivityName=".ui.activities.MainActivity" />



    </application>

</manifest>
